.mui-bar{
	height: 64px;
	padding-top: 20px;
}
.aside-li-style {
	background-color: #73716e;
	color: #ffffff;
}
.logo-style{
	height: 200px;
	text-align: center;
	background:url(../images/yuantiao.jpg) no-repeat;
}
.logo>img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.logo-style::after, .logo{
	display: inline-block;
	vertical-align: middle;
}
.logo-style::after{
	content: '';
	height: 100%;
}

