/*我的页面样式*/

body {
	background-color: #E8E8E8;
}


/*.bar {
	background-color: rgb(56, 126, 245);
	padding: 5px;
	width: 100%;
	height: 44px;
	top: 0px;
	z-index: 9;
	position: fixed;
}

.bar .title {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 0;
	overflow: hidden;
	margin: 0 10px;
	min-width: 30px;
	height: 43px;
	text-align: center;
	font-size: 17px;
	font-weight: 500;
	line-height: 44px;
	color: #fff;
}*/

.card {
	box-shadow: 0px 2px 3px #888888;
}

.cardHead {
	position: relative;
	/*background-image: url(../images/background1.jpg);*/
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 243px;
}

.cardBody {
	position: relative;
	width: 100%;
	height: 89px;
}

.cardFlag {
	position: absolute;
	top: -100px;
	left: 20px;
	z-index: 8;
}

.cardFlag>img {
	max-width: 154px;
	height: auto;
	border-radius: 50%;
}

.cardContent {
	margin-left: 200px;
}

.cardContent>button {
	float: right;
	margin-right: 20px;
}

.myContent {
	margin: 5px 10px;
	border: 1px solid #E8E8E8;
}

.myContent>ul {
	border-bottom: 1px solid #E8E8E8;
}

.ul_css {
	list-style: none;
	margin: 0;
	padding: 0;
}

.li_css {
	display: inline-block;
	text-align: center;
}

li[name|="card_li"] {
	text-align: center;
	line-height: 22px;
	padding: 0px 20px;
}

li[name|="card_li"]:hover {
	background-color: #888888;
}

li[name|="card_li"]>a {
	display: inline-block;
	line-height: 22px;
	font-size: 16px;
	text-decoration: none;
	padding: 10px 0px;
	color: black;
}

li[name|="card_li"]>a>span {
	margin-left: 6px;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	color: #a1aebf;
}

div.contents>span {
	display: block;
	font-weight: 700;
	padding: 15px 0px 15px 20px;
	border-bottom: 1px solid #E8E8E8;
}

.contents .contentLists {
	height: 400px;
	text-align: center;
	position: relative;
	background-color: #dedbdb;
}

.contentLists>p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 2px;
}


/*改*/

a[name|="returnIndex"] {
	position: absolute;
	top: 20px;
	left: 30px;
}

div[name|="userMessage"] {
	display: none;
}


.post {
	padding: 35px;
	background: #ffffff;
	margin-bottom: 35px;
	position: relative;
	overflow: hidden;
}

.post .post-head {
	text-align: center;
}

.post .post-head .post-title {
	margin: 0;
	font-size: 2.5em;
	line-height: 1em;
}

.post .post-head .post-meta {
	color: #959595;
	margin: 14px 0 0px;
}

.post .post-head .post-meta span {
	margin: 0px 7px;
	white-space: nowrap;
}

.post .post-content {
	margin: 30px 0;
}

.post-content {
	font: 400 18px/1.62 "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
	color: #444443;
}

a[name|="acolor"] {
	color: #e67e22;
}

.sidebar .widget {
	background: #ffffff;
	padding: 21px 30px;
	margin-bottom: 35px;
}

.widget .title {
	margin-top: 0;
	padding-bottom: 7px;
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 21px;
	position: relative;
}

.menu {
	padding: 0;
	margin: 0;
	text-align: center;
}

.menu li {
	list-style: none;
	display: inline-block;
	/* position: relative; */
}

.menu li a {
	color: #505050;
	line-height: 4em;
	display: block;
	padding: 0 21px;
	outline: none;
}