body {
	background-color: #E8E8E8;
}

div[name|="topic"] {
	border: 1px solid #ddd;
	border-radius: 4px;
	margin: 5px;
}

div[name*="topicImg"] {
	margin-top: 35px;
	height: 80px;
}

img[name*="topicIcno"] {
	margin-left: 10px;
	height: 100%;
}

p[name|="topicDescription"] {
	height: 40px;
	overflow: hidden;
}

div[name*="interest"] {
	float: left;
	width: 42%;
	text-align: center;
	box-shadow: 10px 10px 5px #888888;
	margin-right: 15px;
}